# Task 4

First, update the following cell to have a link to your Homework 1 GitHub repository:

UPDATE THIS LINK:

https://github.com/fletcher-m/eds220-hwk-1.git

In this task, make at least 5 commits at moments you think are adequate. We'll look at your repo to check commit history. Err on the side of commenting too much for now to get in the habit.

Add comments for all your code. Err on the side of commenting too much for now.

Comments in each exercise and commits will count towards your grade.

This task covers topics we will see on Wednesday Oct. 11. You might want to wait until after that class to solve it.

## Acknowledgement
This task was adapted from the *Pandas Fundamentals with Earthquake Data* assignment from the e-book [Earth and Environmental Data Science](https://earth-env-data-science.github.io/intro.html)

## About the data

For this task we are going to use simplified data from the [USGS Earthquakes Database](https://earthquake.usgs.gov/earthquakes/search/). This dataset is in tabular format and has the following columns:

- time = date and time of event (all events from 2014)
- latitude = decimal degrees [-90,90]
- longitude = decimal degrees [-360,360]
- depth = depth of the event (km)
- mag =  magnitude of event
- id = event identifier
- place = where the event took place
- type = type of event

## 1 

a. Import pandas (always with standard abbreviation!).

b. Use `pd.read_csv()` to import the `earthquake_data.csv` dataset and store it as `raw_eqk` (variable name).

c. Look at the head of the dataframe.

In [9]:
# import pandas with standard abbreviation
import pandas as pd

# import the earthquake data
raw_eqk = pd.read_csv('data/earthquake_data.csv')

# look at first 5 rows of earthquake data frame
raw_eqk.head()

,time,latitude,longitude,depth,mag,id,place,type
0,2014-01-31 23:53:37.000,60.252000,-152.7081,90.20,1.10,ak11155107,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.070300,-115.1309,0.00,1.33,nn00436847,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.671700,-149.2528,7.10,1.30,ak11151142,"12km NNW of North Nenana, Alaska",earthquake
3,2014-01-31 23:30:54.000,63.188700,-148.9575,96.50,0.80,ak11151135,"22km S of Cantwell, Alaska",earthquake
4,2014-01-31 23:30:52.210,32.616833,-115.6925,10.59,1.34,ci37171541,"10km WNW of Progreso, Mexico",earthquake

## 2
a. Print the shape of the `raw_eqk` dataframe.

b. Print the type of `raw_eqk`'s shape.

c. Print *only* the number of rows by accessing it from `raw_eqk`'s shape. HINT: how do you index an element in a tuple?

In [14]:
# show number of rows and columns of earthquake data frame
print(raw_eqk.shape)

# show the type of the data frame's shape
print(type(raw_eqk.shape))

# print the number of rows by indexing from the .shape output of the data frame
print(raw_eqk.shape[0])

(120108, 8)
<class 'tuple'>
120108

## 3

Get the unique values of the type of events.

In [15]:
# get all different (unique) values from the 'type' column in the df
raw_eqk.type.unique()

array(['earthquake', 'quarry blast', 'quarry', 'mining explosion',
       'rock burst', 'explosion', 'landslide', 'sonicboom', 'sonic boom',
       'anthropogenic event', 'acoustic noise'], dtype=object)

# 4

a. Select only earthquake events and store them as `eqk` (variable name)

b. Update the index of `eqk` to be the `id` column of the dataframe. 

c. Check the new index by viewing the first 3 rows of `eqk`.

In [32]:
# filter all rows with 'earthquake' in the 'type' column and store it as 'eqk'
eqk = raw_eqk[raw_eqk['type']=='earthquake'] 

# set the index of eqk df to be the 'id' column
eqk.set_index('id')

# check the first 3 rows of the eqk df 
eqk.head(3)

,time,latitude,longitude,depth,mag,id,place,type
0,2014-01-31 23:53:37.000,60.2520,-152.7081,90.2,1.10,ak11155107,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.0703,-115.1309,0.0,1.33,nn00436847,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.6717,-149.2528,7.1,1.30,ak11151142,"12km NNW of North Nenana, Alaska",earthquake

# 5

How many events were left out of `raw_eqk` when you selected ony earthqake events? 

HINT: There are *many* ways you can get this information. One could be to use (2).

In [35]:
# find out how many events were left out when I selected for just 'earthquake' events - there are 1,710 events that are not 'earthquake' 
raw_eqk[raw_eqk['type']!= 'earthquake']

,time,latitude,longitude,depth,mag,id,place,type
5,2014-01-31 23:30:36.930,32.567667,-117.013500,0.01,1.51,ci11419722,"3km N of Tijuana, Mexico",quarry blast
30,2014-01-31 21:59:43.500,46.308700,-122.721500,0.00,0.80,uw60681512,"14km ENE of Castle Rock, Washington",quarry
36,2014-01-31 21:22:37.700,47.914800,-121.680000,0.00,0.70,uw60681442,"6km N of Gold Bar, Washington",quarry
60,2014-01-31 20:06:45.780,43.757800,-105.299100,0.00,3.40,usc000meuw,Wyoming,mining explosion
69,2014-01-31 19:40:13.400,47.780300,-118.744300,0.00,1.50,uw60681312,"26km SE of Coulee Dam, Washington",quarry
...,...,...,...,...,...,...,...,...
119783,2014-12-02 00:00:02.640,48.086167,-121.966667,0.01,1.80,uw60936741,"0km NNE of Granite Falls, Washington",anthropogenic event
119792,2014-12-01 23:42:29.910,44.554500,-123.343833,0.01,1.88,uw60936711,"2km NE of Philomath, Oregon",anthropogenic event
119809,2014-12-01 22:27:11.200,44.380333,-121.014500,0.01,1.98,uw60936556,"13km ENE of Terrebonne, Oregon",anthropogenic event
119812,2014-12-01 22:12:40.500,49.406000,-120.508333,0.01,2.18,uw60936526,"5km S of Princeton, Canada",anthropogenic event
119830,2014-12-01 20:25:52.860,32.628333,-116.973000,0.01,1.17,ci37065623,"4km ENE of Chula Vista, California",quarry blast

# 6
Without creating any new variables, plot a histogram of the eartquake's magnitudes (`eqk` data). Add a title and change the color of your graph.

In [6]:
# solve exercise here

# 7

a. Create a new variable `top20` with the 20 earthquakes with largest magnitude. HINT: [`pandas.Series.nlargest`](https://pandas.pydata.org/docs/reference/api/pandas.Series.nlargest.html)

b. Create a bar plot showing the magnitude of the top 20 earthquakes. Update the title, x-axis label, y-axis label, and color of the bars. 

c. What is the role of the `top20` index in the graph? What would have happened if we had not updated the index?

In [7]:
# solve exercise here

*Write your answer for 7c here*

# 8 
We are interested in place, magnitude and depth of the top 20 earthquakes with largest magnitude. Select this data from the `eqk` data frame.

HINT: This is a "select rows and columns simultaneously" from `eqk` exercise. To select the rows you could use the index of `top20`.

In [8]:
# solve exercise here

# 9 

Without creating any new variables, visualize the locations of eartquakes with magnitude greter than 5 by creating a scatter plot of their latitude and longitude. Make the following adjustments to the basic plot:
- update the title
- color the points by magnitude (HINT: [check the `c` parameter here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.scatter.html))
- adjust the `alpha` (transparency) argument
- adjust the `colormap` argument to maket it look prettier. [Click for ideas of sequential colormaps.](https://matplotlib.org/stable/users/explain/colors/colormaps.html)

In [9]:
# solve exercise here